<h1>Welcome to Interview Scheduler</h1>
<p>Create users, schedule interview, get eamil reminders and much more using Interview Scheduler</p>
<ul>
  <li><%= link_to 'View Participants', participants_path %></li>
  <li><%= link_to 'Create Participants', new_participant_path %></li>
  <li><%= link_to 'View Interviews', interviews_path %></li>
  <li><%= link_to 'Create Interview', new_interview_path %></li>
</ul>
